<section class="breathe" id="section-breathe">
  <div class="container">
    <h2 class="breathe-title">Breathe in the Space</h2>
    <p class="breathe-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="breathe-list">
      <li class="breathe-item">
        <picture>
          <source
            srcset="
              /img/breathe/asana-m.webp    1x,
              /img/breathe/asana-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/breathe/asana-t.webp    1x,
              /img/breathe/asana-t@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="/img/breathe/asana.webp 1x, /img/breathe/asana@2x.webp 2x"
            media="(min-width: 1200px)"
          />

          <img
            class="breathe-img"
            src="/img/breathe/asana.webp"
            alt="asana pose"
            width="421"
            height="448"
          />
        </picture>
      </li>
      <li class="breathe-item">
        <picture>
          <source
            srcset="
              /img/breathe/lotos-6person-m.webp    1x,
              /img/breathe/lotos-6person-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/breathe/lotos-6person-t.webp    1x,
              /img/breathe/lotos-6person-t@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              /img/breathe/lotos-6person.webp    1x,
              /img/breathe/lotos-6person@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="breathe-img"
            src="/img/breathe/lotos-6person.webp"
            alt="lotos pose 6 person"
            width="421"
            height="448"
          />
        </picture>
      </li>
      <li class="breathe-item">
        <picture>
          <source
            srcset="
              /img/breathe/morning-room-m.webp    1x,
              /img/breathe/morning-room-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/breathe/morning-room-t.webp    1x,
              /img/breathe/morning-room-t@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              /img/breathe/morning-room.webp    1x,
              /img/breathe/morning-room@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="breathe-img"
            src="/img/breathe/morning-room.webp"
            alt="morning room"
            width="421"
            height="448"
          />
        </picture>
      </li>
      <li class="breathe-item">
        <picture>
          <source
            srcset="
              /img/breathe/evening-room-m.webp    1x,
              /img/breathe/evening-room-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/breathe/evening-room-t.webp    1x,
              /img/breathe/evening-room-t@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              /img/breathe/evening-room.webp    1x,
              /img/breathe/evening-room@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="breathe-img"
            src="/img/breathe/evening-room.webp"
            alt="evening room"
            width="421"
            height="448"
          />
        </picture>
      </li>
      <li class="breathe-item">
        <picture>
          <source
            srcset="
              /img/breathe/lotos-4person-m.webp    1x,
              /img/breathe/lotos-4person-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/breathe/lotos-4person-t.webp    1x,
              /img/breathe/lotos-4person-t@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              /img/breathe/lotos-4person.webp    1x,
              /img/breathe/lotos-4person@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="breathe-img"
            src="/img/breathe/lotos-4person.webp"
            alt="lotos pose 4 person"
            width="421"
            height="448"
          />
        </picture>
      </li>
      <li class="breathe-item">
        <picture>
          <source
            srcset="
              /img/breathe/lotos-5person-m.webp    1x,
              /img/breathe/lotos-5person-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/breathe/lotos-5person-t.webp    1x,
              /img/breathe/lotos-5person-t@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              /img/breathe/lotos-5person.webp    1x,
              /img/breathe/lotos-5person@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            class="breathe-img"
            src="/img/breathe/lotos-5person.webp"
            alt="lotos pose 5 person"
            width="421"
            height="448"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
