<section class="discover">
    <div class="container">
        
        <p class="explore-title">Explore</p>
    
        <h2 class="discover-title">Discover Our Most Popular Yoga Programs</h2>

        <p class="discover-description">
            Join our community and elevate your practice with our expertly designed yoga programs. 
            Each course is tailored to meet various skill levels and personal goals.
        </p>

        <div class="yoga-programs">

            <ul class="yoga-programs-list">
                <li class="yoga-item">
                    <img src="../img/discover/beginner-yoga-m@2x.webp" alt="beginner-yoga" class="yoga-photo">
                    

                    <div class="yoga-programs-description">
                        <h4 class="yoga-programs-title">Beginner Yoga: Foundations</h3>
                            <p class="yoga-description">Learn the basics of yoga in a supportive environment.</p>
                    </div>
                </li>
                
                <li class="yoga-item">
                    <img src="../img/discover/vinyasa-flow-m@2x.webp" alt="vinyasa-flow" class="yoga-photo">

                    <div class="yoga-programs-description">
                        <h4 class="yoga-programs-title">Vinyasa Flow: Energize Your Body and Mind</h3>
                            <p class="yoga-description">Experience a dynamic sequence that connects breath and movement.</p>
                    </div>
                </li>

                
                <li class="yoga-item">
                    <img src="../img/discover/restorative-yoga-m@2x.webp" alt="restorative-yoga" class="yoga-photo">

                    <div class="yoga-programs-description">
                        <h4 class="yoga-programs-title">Restorative Yoga: Deep Relaxation and Healing</h3>
                        <p class="yoga-description">Unwind and rejuvenate with gentle poses and mindfulness.</p>
                    </div>
                </li>
            </ul>
        </div>

        <button type="button" class="button-join">Join now</button>

    </div>
</section>