<footer class="footer">
    <div class="container footer-container">
    <div class="footer-input">
     <h3>Yogabloom</h3>
      <!-- <svg>
        <use class="footer-logo"></use>
     </svg>  -->
     <p class="footer-input-text">
        Subscribe to our newsletter for the latest updates on our yoga courses and events.
     </p>
     <div class="footer-subcribe">
        <input class="footer-input-line" placeholder="Placeholder">
     <button  class="footer-button"
     type="submit">Join
    </button>
     <p class="footer-privacy">
        By subscribing, you consent to our Privacy Policy and agree to receive updates.
    </p></div>
     
    </div>

        <div class="footer-link">
        <div class="footer-nav">
        <h3 class="footer-link-title">Quick Links</h3>
        <ul class="footer-nav-list">
            <li class="footer-nav-link">
                <a href="#">Yoga Classes</a>
            </li>
            <li class="footer-nav-link">
                <a href="#">Team</a>
            </li>
            <li class="footer-nav-link">
                <a href="#">Pricing</a>
            </li>
            <li class="footer-nav-link">
                <a href="#">Contacts</a>
            </li>
        </ul>
            </div>


    <div class="footer-social">
        <h3 class="footer-social-title">Connect With Us</h3>
        <ul class="footer-social-list">
            <li class="footer-social-link">
                <a href="">
                    <svg width="24" height="24">
                        <use>

                        </use>
                    </svg>
                    Facebook
                </a>
            </li>
            <li class="footer-social-link">
                <a href="">
                    <svg width="24" height="24">
                        <use>

                        </use>
                    </svg>
                    Instagram
                </a>
            </li>
            <li class="footer-social-link">
                <a href="">
                    <svg width="24" height="24">
                        <use>

                        </use>
                    </svg>
                    LinkedIn

                </a>
            </li>
            <li class="footer-social-link">
                <a href="">
                    <svg width="24" height="24">
                        <use>

                        </use>
                    </svg>
                </a>
                YouTube
            </li>
        </ul>
        

    </div>
    </div>
     <p class="yoga-studio">
        © 2025 Yoga Studio. All rights reserved.
     </p>

    </div>
</footer> 