<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-main">
        <div class="footer-input">
          <a href="#" class="footer-logo-link">
            <svg class="footer-logo" width="84" height="36">
              <use href="/img/sprite.svg#icon-company-logo"></use>
            </svg>
          </a>
          <p class="footer-input-text">
            Subscribe to our newsletter for the latest updates on our yoga
            courses and events.
          </p>
          <div class="footer-subscribe">
            <form class="footer-form">
              <input
                class="footer-input-line error-input"
                type="email"
                name="email-order"
                required
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                placeholder="E-mail"
              />
              <button class="footer-button" type="submit">Join</button>
            </form>

            <p class="footer-privacy">
              By subscribing, you consent to our Privacy Policy and agree to
              receive updates.
            </p>
          </div>
        </div>
        <div class="footer-link">
          <nav class="footer-nav">
            <h3 class="footer-link-title">Quick Links</h3>
            <ul class="footer-nav-list">
              <li class="footer-nav-link">
                <a href="#Yoga Classes">Yoga Classes</a>
              </li>
              <li class="footer-nav-link">
                <a href="#section-team">Team</a>
              </li>
              <li class="footer-nav-link">
                <a href="#pricing-section">Pricing</a>
              </li>
              <li class="footer-nav-link">
                <a href="#footer-contacts">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="footer-social" id="footer-contacts">
            <h3 class="footer-social-title">Connect With Us</h3>
            <ul class="footer-social-list">
              <li class="footer-social-item">
                <a
                  href="https://www.facebook.com/ "
                  class="footer-social-link"
                  target="_blank"
                >
                  <svg width="24" height="24" class="footer-social-icon">
                    <use href="/img/sprite.svg#icon-facebook"></use>
                  </svg>
                  Facebook
                </a>
              </li>
              <li class="footer-social-item">
                <a
                  href="https://www.instagram.com/"
                  class="footer-social-link"
                  target="_blank"
                >
                  <svg width="24" height="24" class="footer-social-icon">
                    <use href="/img/sprite.svg#icon-instagram"></use>
                  </svg>
                  Instagram
                </a>
              </li>
              <li class="footer-social-item">
                <a
                  href="https://www.linkedin.com/ "
                  class="footer-social-link"
                  target="_blank"
                >
                  <svg width="24" height="24" class="footer-social-icon">
                    <use href="/img/sprite.svg#icon-linkedin"></use>
                  </svg>
                  LinkedIn
                </a>
              </li>
              <li class="footer-social-item">
                <a
                  href="https://www.youtube.com/ "
                  class="footer-social-link"
                  target="_blank"
                >
                  <svg width="24" height="24" class="footer-social-icon">
                    <use href="/img/sprite.svg#icon-youtube"></use>
                  </svg>
                  YouTube
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <p class="yoga-studio">© 2025 Yoga Studio. All rights reserved.</p>
    </div>
  </div>
</footer>
