
<header>
<div class="header">

    <!-- #region mobile menu -->
    <div class="container-m">
        <div class="mobile-menu js-menu-container">
            <div class="mobile-menu-top">
                <div class="menu-close-wrapper">
                    <button class="mobile-menu-close js-close-menu" type="button">
                        <svg width="24" height="24" stroke="black">
                            <use href="./img/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>
                <a class="nav-logo" href="#">
                    <svg width="84" height="36">
                        <use href="./img/sprite.svg#icon-company-logo"></use>
                    </svg>
                </a>
                <div class="nav-join">
                    <a class="nav-pricing" href="#pricing-section">Join Now</a>
                </div>
            </div>
            <div class="mobile-menu-wrapper">
                <nav class="mobile-menu-nav">
                    <ul class="mobile-menu-list">
                        <li>
                            <a class="mobile-menu-link" href="#discover-section">Yoga Classes</a>
                        </li>
                        <li><a class="mobile-menu-link" href="#section-team">Team</a></li>
                        <li>
                            <a class="mobile-menu-link" href="#section-testimonials">Testimonials</a>
                        </li>
                        <li><a class="mobile-menu-link" href="#pricing-section">Pricing</a></li>
                        <li>
                            <a class="mobile-menu-link" href="#footer-contacts">Contacts</a>
                        </li>
                    </ul>
                </nav>
                <a class="nav-pricing-mobile-menu-btn" href="#pricing-section">Join Now</a>
            </div>
        </div>
    </div>
    <div class="container adaptive">
        <!-- #region nav bar -->
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link-current" href="#discover-section">Yoga Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing-section">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer-contacts">Contacts</a>
                </li>
            </ul>
            <div class="burger">
                <button class="burger-btn js-open-menu" type="button">
                    <svg width="24" height="24" stroke="black">
                        <use href="./img/sprite.svg#icon-menu"></use>
                    </svg>
                </button>
            </div>
            <a class="nav-logo" href="#">
                <svg width="84" height="36">
                    <use href="./img/sprite.svg#icon-company-logo"></use>
                </svg>
            </a>
            <div class="nav-join">
                <a class="nav-pricing" href="#pricing-section"> Join Now </a>
            </div>
        </nav>


    </div>
    <!-- #endregion nav bar -->
 </div>
    </header>
    <!-- #endregion header -->
