<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing-section</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <section class="pricing-section" id="pricing-section">
        <div class="container pricing-container">
            <h3 class="upper-text">Affordable</h3>
            <h2 class="pricing-section-header">Pricing Plans</h2>
            <p class="after-text">Choose the perfect plan for your yoga journey.</p>

            <ul class="plans-list">
                <li class="plans-list-item">
                    <div class="plan-box">
                        <div class="price-box">
                            <p class="plan-name">One Session</p>
                            <h3 class="plan-price">&#36;10</h3>
                        </div>
                        <ul class="plan-features">
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">1 group session</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">10&#37; discount for next 2 Sessions</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">Community support group</p>
                            </li>
                        </ul>
                        <button class="plan-button" type="button">Join</button>
                    </div>
                </li>
                <li class="plans-list-item">
                    <div class="plan-box">
                        <div class="price-box">
                            <p class="plan-name">8 Sessions Package</p>
                            <h3 class="plan-price">&#36;65</h3>
                        </div>
                        <ul class="plan-features">
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">6 Group Sessions</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">2 Individual Sessions</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">Priority customer support</p>
                            </li>
                        </ul>
                        <button class="plan-button" type="button">Join</button>
                    </div>
                </li>
                <li class="plans-list-item">
                    <div class="plan-box">
                        <div class="price-box">
                            <p class="plan-name">12 Sessions Package</p>
                            <h3 class="plan-price">&#36;80</h3>
                        </div>
                        <ul class="plan-features">
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">8 Group Sessions</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">4 Individual Sessions</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">Monthly yoga challenges</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">Exclusive member discounts</p>
                            </li>
                            <li class="plan-features-item">
                                <svg class="plan-features-svg" height="24" width="24">
                                    <use href="../img/sprite.svg#icon-Check"></use>
                                </svg>
                                <p class="plan-features-text">Community support group</p>
                            </li>
                        </ul>
                        <button class="plan-button" type="button">Join</button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>

