
<section class="team">
    <div class="container">
        <div class="section-name">
            <p class="team-meet">Meet</p>
            <h2>Our Team</h2>
            <p>Dedicated professionals passionate about yoga and wellness.</p>
        </div>
        <ul class="team-members">
            <li class="member-card">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="/img/team/liam-johnson.webp 1x, /img/team/liam-johnson@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/team/liam-johnson-t.webp 1x, /img/team/liam-johnson-t@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/team/liam-johnson-m.webp 1x, /img/team/liam-johnson-m@2x.webp 2x">
                    <img src="/img/team/liam-johnson-m.webp" alt="liam-johnson">
                </picture>
                <div class="team-content">
                    <p class="member-name">Liam Johnson</p>
                    <p class="member-position">Yoga Instructor</p>
                    <p class="about-member">Liam specializes in mindfulness and stress reduction techniques through
                        guided meditation.
                    </p>
                    <ul class="socials">
                        <li>
                            <a href="https://www.linkedin.com/" class="socials-link">
                                <svg class="socials-icon" width="24" height="24">
                                    <use href="/img/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" class="socials-link">
                                <svg class="socials-icon" width="24" height="24">
                                    <use href="/img/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="member-card">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="/img/team/emma-stone.webp 1x, /img/team/emma-stone@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/team/emma-stone-t.webp 1x, /img/team/emma-stone-t@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/team/emma-stone-m.webp 1x, /img/team/emma-stone-m@2x.webp 2x">
                    <img src="/img/team/emma-stone-m.webp" alt="emma-stone">
                </picture>
                <div class="team-content">
                    <p class="member-name">Emma Stone</p>
                    <p class="member-position">Meditation Coach</p>
                    <p class="about-member">Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
                    <div class="socials">
                        <a href="https://www.linkedin.com/" class="socials-link">
                            <svg class="socials-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="member-card">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="/img/team/sophia-lee.webp 1x, /img/team/sophia-lee@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/team/sophia-lee-t.webp 1x, /img/team/sophia-lee-t@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/team/sophia-lee-m.webp 1x, /img/team/sophia-lee-m@2x.webp 2x">
                    <img src="/img/team/sophia-lee-m.webp" alt="sophia-lee">
                </picture>
                <div class="team-content">
                    <p class="member-name">Sophia Lee</p>
                    <p class="member-position">Pilates Trainer</p>
                    <p class="about-member">Sophia combines Pilates with yoga for a holistic fitness approach.</p>
                    <div class="socials">
                        <a href="https://www.instagram.com/" class="socials-link">
                            <svg class="socials-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="member-card">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="/img/team/noah-brown.webp 1x, /img/team/noah-brown@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/team/noah-brown-t.webp 1x, /img/team/noah-brown-t@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/team/noah-brown-m.webp 1x, /img/team/noah-brown-m@2x.webp 2x">
                    <img src="/img/team/noah-brown-m.webp" alt="noah-brown">
                </picture>
                <div class="team-content">
                    <p class="member-name">Noah Brown</p>
                    <p class="member-position">Yoga Therapist</p>
                    <p class="about-member">Noah focuses on therapeutic yoga to aid recovery and enhance well-being.
                    </p>
                    <div class="socials">
                        <a href="https://www.linkedin.com/" class="socials-link">
                            <svg class="socials-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="member-card">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="/img/team/ava-green.webp 1x, /img/team/ava-green@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/team/ava-green-t.webp 1x, /img/team/ava-green-t@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/team/ava-green-m.webp 1x, /img/team/ava-green-m@2x.webp 2x">
                    <img src="/img/team/ava-green-m.webp" alt="ava-green">
                </picture>
                <div class="team-content">
                    <p class="member-name">Ava Green</p>
                    <p class="member-position">Fitness Trainer</p>
                    <p class="about-member">Ava integrates strength training with yoga to promote overall fitness.</p>
                    <ul class="socials">
                        <li>
                            <a href="https://www.facebook.com/" class="socials-link">
                                <svg class="socials-icon" width="24" height="24">
                                    <use href="/img/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" class="socials-link">
                                <svg class="socials-icon" width="24" height="24">
                                    <use href="/img/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" class="socials-link">
                                <svg class="socials-icon" width="24" height="24">
                                    <use href="/img/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="member-card">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="/img/team/clark-thomas.webp 1x, /img/team/clark-thomas@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/team/clark-thomas-t.webp 1x, /img/team/clark-thomas-t@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/team/clark-thomas-m.webp 1x, /img/team/clark-thomas-m@2x.webp 2x">
                    <img src="/img/team/clark-thomas-m.webp" alt="clark-thomas">
                </picture>
                <div class="team-content">
                    <p class="member-name">Clark Thomas</p>
                    <p class="member-position">Fitness Trainer</p>
                    <p class="about-member">Clark specializes in mindfulness and stress reduction techniques through
                        guided meditation.
                    </p>
                    <ul class="socials">
                        <li>
                            <a href="https://www.facebook.com/" class="socials-link">
                                <svg class="socials-icon" width="24" height="24">
                                    <use href="/img/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" class="socials-link">
                                <svg class="socials-icon" width="24" height="24">
                                    <use href="/img/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>
