<section id="testimonials" class="testimonials">
  <div class="container testimonials-container">
    <h2 class="testimonials-name">Testimonials</h2>
    <p class="testimonials-desc">What our happy clients say</p>
    <ul class="testimonials-list">
      <li class="testimonials-item donna-container">
        <p class="testimonials-item-text">
          YogaBloom is a true sanctuary for the mind and body. The classes are
          thoughtfully guided, the atmosphere is calming, and every session
          leaves me feeling more centered, flexible, and recharged. Highly
          recommended for anyone seeking balance and inner peace.
        </p>
        <div class="testimonials-bottom-cont">
          <img
            src="/img/testimonials/Donna-Norman.webp"
            srcset="/img/testimonials/Donna-Norman@2x.webp 2x"
            alt="Donna Norman"
            class="testimonials-img"
          />
          <div class="test-name-desc">
            <h3 class="testimonials-img-name">Donna Norman</h3>
            <p class="testimonials-img-desc">Yoga Enthusiast</p>
          </div>
        </div>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-item-text">
          I’ve tried many yoga studios, but YogaBloom stands out with its
          welcoming energy and inspiring instructors. Every class feels like a
          journey inward. It’s now my favorite part of the week.
        </p>
        <div class="testimonials-bottom-cont test-gap-cont">
          <img
            src="/img/testimonials/sophie-delgado.webp"
            srcset="/img/testimonials/sophie-delgado@2x.webp 2x"
            alt="Sophie Delgado"
            class="testimonials-img"
          />
          <div class="test-name-desc">
            <h3 class="testimonials-img-name">Sophie Delgado</h3>
            <p class="testimonials-img-desc">Marketing Specialist</p>
          </div>
        </div>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-item-text">
          YogaBloom helped me reconnect with myself. The sessions are
          well-paced, the space is beautiful, and the community is truly
          supportive. A perfect place to grow both physically and mentally.
        </p>
        <div class="testimonials-bottom-cont test-gap-cont2">
          <img
            src="/img/testimonials/rachel-kimura.webp"
            srcset="/img/testimonials/rachel-kimura@2x.webp 2x"
            alt="Rachel Kimura"
            class="testimonials-img"
          />
          <div class="test-name-desc">
            <h3 class="testimonials-img-name">Rachel Kimura</h3>
            <p class="testimonials-img-desc">Freelanсe Illustrator</p>
          </div>
        </div>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-item-text">
          Whether you're new to yoga or a long-time practitioner, YogaBloom
          offers something special. The mindful approach and soothing guidance
          make each class a peaceful escape from daily stress.
        </p>
        <div class="testimonials-bottom-cont">
          <img
            src="/img/testimonials/emma-l-hart.webp"
            srcset="/img/testimonials/emma-l-hart@2x.webp 2x"
            alt="Emma L.Hart"
            class="testimonials-img"
          />
          <div class="test-name-desc">
            <h3 class="testimonials-img-name">Emma L. Hart</h3>
            <p class="testimonials-img-desc">
              University Student & Part-time Barista
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
