<section class="testimonials">
  <div class="container">
    <h2 class="testimonials-name">Testemonials</h2>
    <p class="testimonials-desc">What our happy clients say</p>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <p class="testimonials-item-text">
          YogaBloom is a true sanctuary for the mind and body. The classes are
          thoughtfully guided, the atmosphere is calming, and every session
          leaves me feeling more centered, flexible, and recharged. Highly
          recommended for anyone seeking balance and inner peace.
        </p>

        <img src="" />
        <h3 class="testimonials-img-name">Donna Norman</h3>
        <p class="testimonials-img-desc">Yoga Enthusiast</p>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-item-text">
          I’ve tried many yoga studios, but YogaBloom stands out with its
          welcoming energy and inspiring instructors. Every class feels like a
          journey inward. It’s now my favorite part of the week.
        </p>
        <img src="" />
        <h3 class="testimonials-img-name">Sophie Delgado</h3>
        <p class="testimonials-img-desc">Marketing Specialist</p>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-item-text">
          YogaBloom helped me reconnect with myself. The sessions are
          well-paced, the space is beautiful, and the community is truly
          supportive. A perfect place to grow both physically and mentally.
        </p>
        <img src="" />
        <h3 class="testimonials-img-name">Rachel Kimura</h3>
        <p class="testimonials-img-desc">Freelane Illustrator</p>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-item-text">
          Whether you're new to yoga or a long-time practitioner, YogaBloom
          offers something special. The mindful approach and soothing guidance
          make each class a peaceful escape from daily stress.
        </p>
        <img src="" />
        <h3 class="testimonials-img-name">Emma L. Hart</h3>
        <p class="testimonials-img-desc">
          University Student & Part-time Barista
        </p>
      </li>
    </ul>
  </div>
</section>
