.footer {
  background-color: #dfebeb;
  padding: 48px 16px;
}


.footer-container{
 background-color: #f8fbfe;
 padding: 32px;
 border: 0px solid rgba(13, 11, 10, 0.15);
border-radius: 16px;
}

.footer-main{
  margin-bottom: 48px;
}

.footer-input{
  position: relative;
    margin-bottom: 40px;
    max-width: 279px;
    
}

.footer-logo-link{
 position: absolute;
 top: 0;
 left: 0;
 
}

.footer-input-text{
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #0d0b0a;
margin-bottom: 20px;
padding-top: 56px;
}

.footer-subscribe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-input-line{
width: 100%;
margin-bottom: 16px;
padding: 8px 12px;
background-color: rgba(13, 11, 10, 0.05);
border-radius: 12px;
border-color: transparent;
}

input:focus:invalid {
    outline: none;
    border-color: #ff0303;

}


 .footer-input-line::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: rgba(13, 11, 10, 0.6);
} 

.footer-button{
border: 1px solid rgba(255, 255, 255, 0);
border-radius: 100px;
width: 100%;
height: 46px;
padding: 10px 125px;
color: #0d0b0a;
background-color:  rgba(13, 11, 10, 0.05);
margin-bottom: 12px;
transition: background-color 250ms ease, border-color 250ms ease;
}

.footer-button:hover,
.footer-button:focus{
background-color: #c2d9fc;
}


.footer-privacy{
font-weight: 400;
font-size: 12px;
line-height: 1.6;
color: #0d0b0a;
}

/* 
 FOOTER LINK  */

.footer-link{
 display: flex;
 flex-direction: column;
 row-gap: 40px;
}


.footer-link-title{
font-weight: 600;
font-size: 16px;
line-height: 1.6;
color: #0d0b0a;
margin-bottom: 12px;
}

.footer-nav-link{
font-weight: 400;
font-size: 14px;
line-height: 1.6;
color: #0d0b0a;
padding: 8px 0px;
}

.footer-nav-link:hover,
.footer-nav-link:focus{
  color: #c2d9fc;
}


.footer-social-title{
font-weight: 600;
font-size: 16px;
line-height: 1.6;
color: #0d0b0a;
margin-bottom: 12px;
}


.footer-social-list{

}

.footer-social-link{
  display: flex;
  gap: 12px;
  padding: 8px 0px;
  transition: color 250ms ease;
}

.footer-social-link:hover,
.footer-social-link:focus{
color: #c2d9fc;
}

.footer-social-item{
font-weight: 400;
font-size: 14px;
line-height: 1.6;
color: #0d0b0a;
}

.footer-social-item svg{
  transition: fill 250ms ease;
}

.footer-social-item:hover,
.footer-social-item:focus > svg{
  fill: #c2d9fc;
}



.yoga-studio{
font-weight: 400;
font-size: 14px;
line-height: 1.6;
color: #0d0b0a;
}


/* END FOOTER LINK  */




/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .footer {
  background-color: #dfebeb;
  padding: 40px 32px;
}

.footer-main{
  margin-bottom: 40px;
}
.footer-input{
  max-width: 640px;
}

.footer-logo{
top: 0;
left: 0;
}

.footer-input-text{
  padding-top: 60px;
}

.footer-form{
  width: 546px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-subscribe{
  flex-direction: row;
  align-items: center;
}

.footer-input-line{
margin-right: 16px;
padding: 8px 12px;
}

.footer-button{
padding: 10px 24px;
max-width: 78px;
}

.footer-link{
flex-direction: row;
 gap: 40px;
}

.footer-nav{
width: 300px;
}

.footer-link-title{
margin-bottom: 16px;
}


.footer-social{
width: 300px;
}

.footer-social-title{
margin-bottom: 16px;
}


}



















/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .container {
    max-width: 1200px;
  }

 .footer {
  background-color: #dfebeb;
  padding: 60px;
}

.footer-main{
  display: flex;
  align-items: center;
 justify-content: space-between;
 margin-bottom: 24px;
}

.footer-input{
  max-width: 595px;
  margin: 0;
}

.footer-input-text{
}

.footer-subscribe{
  width: 100%;
}



.footer-privacy{

}

.footer-link{
  max-width: 371px;
  
}


}
