.footer {
  padding: 48px 16px;
 background: var(--color-scheme-1-background);
  
}

.footer-container{
 background: var(--color-scheme-1-foreground);
 padding: 32px;
}

.footer-input{
    margin-bottom: 40px;
    max-width: 279px;
}



.footer-input-text{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: var(--color-scheme-1-text);
margin-top: 20px;
margin-bottom: 20px;
}

.footer-subcribe{

}

.footer-input-line{
border-radius: 12px;
width: 279px;
margin-bottom: 16px;
padding: 8px 12px;
}

 .footer-input-line::placeholder{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: var(--opacity-neutral-darkest-60);
} 

.footer-button{
border: 1px solid var(--opacity-transparent);
border-radius: 100px;
padding: 10px 24px;
width: 100%;
height: 46px;
padding: 10px 125px;
background-color:  rgba(13, 11, 10, 0.05);
margin-bottom: 20px;
}

.footer-privacy{
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.6;
color: var(--color-scheme-1-text);
}

/* 
 FOOTER LINK  */

.footer-link{
 display: flex;
 flex-direction: column;
 row-gap: 40px;
}



.footer-nav{

}

.footer-link-title{
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.6;
color: var(--color-scheme-1-text);
margin-bottom: 12px;
}

.footer-nav-link{
padding: 8px 0px;
}



.footer-social{

}

.footer-social-title{
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.6;
color: var(--color-scheme-1-text);
margin-bottom: 12px;
}

.footer-social-list{
margin-bottom: 48px;
}

.footer-social-link{
  display: flex;
  gap: 12px;
  padding: 8px 0px;

}
.yoga-studio{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.6;
color: var(--color-scheme-1-text);
}


/* END FOOTER LINK  */




/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .footer-container{
   padding: 40px 32px;
}

  .footer-input{
    max-width: 640px;
}

.footer-subcribe{
max-width: 640px;
}

.footer-input-line{
border-radius: 12px;
width: 546px;
margin-bottom: 16px;
padding: 8px 12px;
}

.footer-button{
padding: 10px 24px;
max-width: 78px;
height: 46px;
}

.footer-link{
flex-direction: row;
 gap: 40px;
}

.footer-nav{
width: 300px;
}

.footer-link-title{
margin-bottom: 16px;
}



.footer-nav-link{

}

.footer-social{
width: 300px;
}

.footer-social-title{
margin-bottom: 16px;
}

.footer-social-list{
margin-bottom: 40px;
}

}



















/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
