.footer {
  padding: 48px 16px;
  background-color: #DFEBEB;
  
}
.footer-desc {
  text-align: center;
}
.footer-link {
  position: relative;
}
.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
} 


.container{
  min-width: 320px;
  max-width: 375px;
}

.footer-container{
 background-color: #fff;
 padding: 32px;
}

.footer-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 279px;
}



.footer-input-text{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #0D0B0A;
margin-top: 20px;
margin-bottom: 20px;
}

.footer-input-line{
border-radius: 12px;
width: 279px;
margin-bottom: 16px;
padding: 8px 12px;
}

 .footer-input-line::placeholder{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: var(--opacity-neutral-darkest-60);
} 

.footer-button{
border: 1px solid var(--opacity-transparent);
border-radius: 100px;
padding: 10px 24px;
width: 100%;
height: 46px;
padding: 10px 125px;
background-color:  rgba(13, 11, 10, 0.05);
margin-bottom: 20px;
}

.footer-privacy{
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.6;
color: #0D0B0A;;
}

/* 
 FOOTER LINK  */

.footer-link{
 display: flex;
 flex-direction: column;
 row-gap: 40px;
}



.footer-nav{

}

.footer-link-title{
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.6;
color: var(--color-scheme-1-text);
margin-bottom: 12px;
}

.footer-nav-list{

}

.footer-nav-link{
padding: 8px 0px;
width: 279px;
height: 38px;
}



.footer-social{

}

.footer-social-title{
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.6;
color: var(--color-scheme-1-text);
}

.footer-social-list{
margin-bottom: 48px;
}

.footer-social-link{
padding: 8px 0px;
width: 279px;
height: 40px;

}

.yoga-studio{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 1.6;
color: var(--color-scheme-1-text);
}




/* END FOOTER LINK  */
