:root {
  --color-hawkes-blue: #c2d9fc;
  --color-hawkes-blue-focus: #d1e2f3;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ======================= CONTAINERS (Mobile First) ======================= */

/* ==================== HEADER BASE ====================== */
.header {
  font-family: 'Sarabun', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.burger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.burger-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger-btn svg {
  width: 24px;
  height: 24px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-join {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

/* ==================== 3 JOIN NOW ====================== */
/* 1.  (Normal) */
.nav-pricing,
.nav-pricing-mobile-menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: var(--color-hawkes-blue);
  color: #111111;
  border: 1px solid var(--color-hawkes-blue);
  border-radius: 100px;
  width: 102px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease;
}

/* 2. (Hover/Focus) */
.nav-pricing:hover,
.nav-pricing:focus,
.nav-pricing-mobile-menu-btn:hover,
.nav-pricing-mobile-menu-btn:focus {
  background-color: var(--color-hawkes-blue-focus);

  color: rgba(17, 17, 17, 0.5);

  border: 1px solid var(--color-hawkes-blue-focus);
}

/* 3. (Active) Hover/Focus */
.nav-pricing:active,
.nav-pricing-mobile-menu-btn:active {
  background-color: transparent;

  color: #111111;

  border: 1px solid var(--color-hawkes-blue-focus);

  transition: none;
}

/* ==================== ADAPTATION (MEDIA QUERIES) ====================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header {
    height: 72px;
  }

  .nav {
    height: 42px;

    width: 100%;
    margin: 0;

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger {
    flex-basis: auto;
    width: 278px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-logo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-join {
    width: 278px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-pricing {
    width: 105px;
    height: 42px;
    padding: 0;
  }
}

/* ================================================Desktop========================================================= */
@media screen and (min-width: 1336px) {
  .container {
    max-width: 1336px;
    padding: 0 12px;
  }

  .burger {
    display: none;
  }

  .header {
    height: auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 582px;
  }

  .nav-join {
    width: 582px;
    justify-content: flex-end;
  }

  .nav-pricing {
    padding-inline: 20px;
    width: 105px;
    height: 42px;
    font-size: 16px;
  }

  .nav-link-current,
  .nav-link {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    transition: color 250ms ease-in;
  }

  .nav-link::after,
  .nav-link-current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #7f8282;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .nav-link:hover::after,
  .nav-link-current::after,
  .nav-link:focus::after {
    transform: scaleX(1);
  }
}