.pricing-container{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.upper-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.pricing-section-header{
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.after-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.plans-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.plans-list-item{
    width: 100%;
}

.plan-box{
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    padding-bottom: 110px;
    background: #DFEBEB;
    position: relative;
}

.price-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.plan-name{
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
}

.plan-price{
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.plan-features{
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    gap: 16px;
    /*margin-bottom: 32px;*/
}

.plan-features-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

.plan-button{
    border: 1px solid #C2D9FC;
    border-radius: 100px;
    padding: 10px 24px;
    width: 295px;
    background: #C2D9FC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    position: absolute;
    right: 24px;
    bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .pricing-container{
        /*padding-top: 40px;
        padding-bottom: 40px;*/
        padding: 40px 32px;
    }
    
    .upper-text{
        margin-bottom: 16px;
    }

    .pricing-section-header{
        margin-bottom: 24px;
    }

    .after-text{
        font-size: 18px;
        margin-bottom: 24px;
    }

    .plans-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .plans-list-item {
        width: calc((100% - 24px) / 2);
    }

    .plan-box{
        padding: 16px;
        padding-bottom: 84px;
    }

    .price-box{
        margin-bottom: 32px;
    }

    .plan-name {
        font-size: 22px;
    }

    .plan-price{
        font-size: 72px;
    }

    .plan-features{
        margin-bottom: 22px;
    }

    .plan-button{
        width: 308px;
        right: 16px;
        bottom: 16px;
    }

    .plans-list-item:nth-last-of-type(1) .plan-box{
        padding: 86px 16px;
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    .plans-list-item:nth-last-of-type(1) .price-box,
    .plans-list-item:nth-last-of-type(1) .plan-features{
        margin: 0;
        width: calc((100% - 32px) / 2);
    }

    .plans-list-item:nth-last-of-type(1) {
        width: 100%;
    }

    .plans-list-item:nth-last-of-type(1) .plan-button {
        left: 16px;
        bottom: 86px;
        right: auto;
    }
    
}